body{
    background-color: #E2B82E;
    color: white;
    font-weight: bold;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    color: #333333;
    font-size: 75px;
    margin: 20px;
    margin-top: 40px;
    font-family: Impact, Charcoal, sans-serif;

}

h2{
    color: #474747;
    font-size: 50px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: #5c5c5c;
    font-size: 40px;
    margin: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}
button{
    background-color: #B56524;
    border: 5px solid #693313;
    color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
}


.wrapper{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.player, .computer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.Score1, .Score2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    border: 5px solid black;
    width: 150px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 20px;
}


.pltxt, .cptxt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
    border: 5px solid black;
    width: 280px;
    height: 100px;
    font-size: 20px;
}


#label{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}